<div class="container-id">
  <div class="banner-service">
    <div class="service-name-id">
      <h2><%= @service.name %></h2>
    </div>
    <div class="service-description-id">
      <p><%= @service.description %></p>
      <%= cl_image_tag("matt-nelson-aI3EBLvcyu4-unsplash_us8tmk",
        width: 400, height: 300, crop: :fill) %>
    </div>
    <button class="button-add"> <%= link_to 'ADD TO CART', new_user_cart_payment_path%> </button>
    <div class="button-back"><%= link_to 'back', services_path %></div>
  </div>
</div>
