<%= render 'shared/navbar' %>
<div class="container-id">
  <div class="banner-service">
    <div class="service-name-id">
      <h2><%= @service.name %></h2>
    </div>
    <div class="service-description-id">
      <p><%= @service.description %></p>
      </div>
      <div class="service-image-show">
        <% if @service.photo %>
        <%= image_tag(@service.photo) %>
        <%end%>
    <div class="button-purchase">
      <%= form_tag orders_path do %>
        <%= hidden_field_tag 'service_id', @service.id %>
        <%= submit_tag 'Comprar', class: 'btn btn-primary' %>
      <% end %>
    </div>
  </div>
    <div class="button-back"><%= link_to 'Voltar', services_path %></div>
    </div>
</div>
<%= render 'shared/footer' %>
